<div class="container-fluid">
  <app-top-widgets></app-top-widgets>

  <div class="bottom-section">
    <div class="widget left">
      <app-last-few-transactions></app-last-few-transactions>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <div>
          <canvas id="myChart" width="400px" height="400px"></canvas>
        </div>
      </div>
      <div class="col-lg-6">
        <div>
          <canvas id="myChart2" width="400px" height="400px"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>
